<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Livestream Production Manager</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Livestream Production Manager", "Index", "FightingGames", new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Fighting games", "Index", "FightingGames")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Livestream Production Manager V0.2 - Made by Gogoku7</p>
        </footer>
    </div>

    <div class="snackbar" id="manageCompetitorsSnackbar"></div>
    <div class="snackbar" id="manageCommentatorsSnackbar"></div>
    <div class="snackbar" id="managerConnectedSnackbar"></div>
    <div class="snackbar" id="managerFailedToConnectSnackbar"></div>
    <div class="snackbar" id="queuSnackbar"></div>
    <div class="snackbar" id="overlayConnectedSnackbar"></div>
    <div class="snackbar" id="overlayDisconnectedSnackbar"></div>
    <div class="snackbar" id="forceResizeSnackbar"></div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
