@using System.Text;
@model LivestreamProductionManager.ViewModels.FightingGames.SuperSmashBros.SuperSmashBrosBaseViewModel

@{
    var characterOptionsStringBuilder = new StringBuilder();
    foreach (var character in Model.Characters)
    {
        characterOptionsStringBuilder.AppendLine($"<option value='{character.CssValue}' data-name='{character.CharacterName}'>{character.CharacterName}</option>");
    }

    var portOptionsStringBuilder = new StringBuilder();
    foreach (var port in Model.Ports)
    {
        portOptionsStringBuilder.AppendLine($"<option value='{port.CssValue}'>{port.PortName}</option>");
    }

    Layout = null;
}

<form action="@Url.Action("UpdateSingles", "SuperSmashBros")"
        method="post"
        id="manageCompetitorsForm"
        data-overlay-type="Game"
        data-websocket-data-monitor-id="#competitorsWebSocketDataMonitor"
        data-css-monitor-url="@Url.Action("GetCssFileContent", "FightingGames")"
        data-css-monitor-id="#competitorsCssMonitor"
        data-json-monitor-url="@Url.Action("GetJsonFileContent", "FightingGames")"
        data-json-monitor-id="#competitorsJsonMonitor"
        data-overlay-preview-id="#competitorsPreviewOverlayIframe"
        data-snackbar-id="#manageCompetitorsSnackbar">

    <input type="hidden" name="Tournament" value="" data-selector="#tournamentText" />
    <input type="hidden" name="Round" value="" data-selector="#roundText" />
    <input type="hidden" name="BestOf" value="" data-selector="#bestOfText" />
    <input type="hidden" name="Extra" value="" data-selector="#extraText" />
    <input type="hidden" name="Series" value="@Model.Series" />
    <input type="hidden" name="Game" value="@Model.Game" />
    <input type="hidden" name="Format" value="@Model.Format" />
    <input type="hidden" name="PathToSeries" value="@Model.PathToSeries" />
    <input type="hidden" name="PathToGame" value="@Model.PathToGame" />
    <input type="hidden" name="PathToFormat" value="@Model.PathToFormat" />

    <div class="row">
        <div class="col-xs-6 text-center">
            <label>Player 1</label>
        </div>
        <div class="col-xs-6  text-center">
            <label>Player 2</label>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 text-center">
            <label>Name</label>
            <input type="text" class="form-control" name="Player1.Name" id="player1Name" data-selector="#player1NameText" data-side="1" data-opposite-id="#player2Name" data-default="-" />
        </div>
        <div class="col-xs-6 text-center">
            <label>Name</label>
            <input type="text" class="form-control" name="Player2.Name" id="player2Name" data-selector="#player2NameText" data-side="2" data-opposite-id="#player1Name" data-default="-" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 text-center">
            <label>Sponsor (acr)</label>
            <input type="text" class="form-control" name="Player1.Sponsor" id="player1Sponsor" data-selector=".player1Sponsor" data-side="1" data-opposite-id="#player2Sponsor" data-default="" />
        </div>
        <div class="col-xs-6 text-center">
            <label>Sponsor (acr)</label>
            <input type="text" class="form-control" name="Player2.Sponsor" id="player2Sponsor" data-selector=".player2Sponsor" data-side="2" data-opposite-id="#player1Sponsor" data-default="" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 text-center">
            <label>Twitter</label>
            <input type="text" class="form-control" name="Player1.Twitter" id="player1Twitter" data-selector="#player1TwitterText" data-side="1" data-opposite-id="#player2Twitter" data-default="" />
        </div>
        <div class="col-xs-6 text-center">
            <label>Twitter</label>
            <input type="text" class="form-control" name="Player2.Twitter" id="player2Twitter" data-selector="#player2TwitterText" data-side="2" data-opposite-id="#player1Twitter" data-default="" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 text-center">
            <label>Score</label>
        </div>
        <div class="col-xs-6 text-center">
            <label>Score</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-2 text-right">
                    <button class="btn btn-danger decrease" type="button" data-id="#player1Score"><span style="font-weight: bold;" class="glypicon glyphicon-minus"></span></button>
                </div>
                <div class="col-xs-8">
                    <input type="text" class="form-control" name="Player1.Score" id="player1Score" data-selector="#player1ScoreText" data-side="1" data-opposite-id="#player2Score" data-default="0" value="0" />
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-primary increase" type="button" data-id="#player1Score"><span style="font-weight: bold;" class="glypicon glyphicon-plus"></span></button>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-2 text-right">
                    <button class="btn btn-danger decrease" type="button" data-id="#player2Score"><span style="font-weight: bold;" class="glypicon glyphicon-minus"></span></button>
                </div>
                <div class="col-xs-8">
                    <input type="text" class="form-control" name="Player2.Score" id="player2Score" data-selector="#player2ScoreText" data-side="2" data-opposite-id="#player1Score" data-default="0" value="0" />
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-primary increase" type="button" data-id="#player2Score"><span style="font-weight: bold;" class="glypicon glyphicon-plus"></span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 text-center">
            <label>Character</label>
        </div>
        <div class="col-xs-6 text-center">
            <label>Character</label>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 text-center">

            <div class="row">
                <div class="col-xs-9">
                    <select class="form-control" name="Player1.Character" id="player1Character" data-selector="#player1Character" data-side="1" data-opposite-id="#player2Character" data-default="" data-skin-picker-toggle-selector="button[id='player1CharacterSkinPickerToggle']">
                        <option value="" selected disabled hidden>Choose character</option>
                        @Html.Raw(characterOptionsStringBuilder.ToString())
                    </select>
                </div>
                <div class="col-xs-3 text-left">
                    <button class="btn btn-primary"
                            id="player1CharacterSkinPickerToggle"
                            type="button"
                            data-popover-active="false"
                            data-toggle="characterSkinPopover"
                            data-title="Player 1 Character skin"
                            data-template="<div class='popover characterSkinPopover player1CharacterSkinPicker' role='tooltip'><div class='arrow' style='left: 50%;'></div><h3 class='popover-title'></h3><div class='popover-content'></div></div>"
                            data-skin-picker-selector=".player1CharacterSkinPicker"
                            data-character-dropdown-selector="select[id='player1Character']"
                            data-skin-picker-toggle-selector="button[id='player1CharacterSkinPickerToggle']">
                        Pick skin
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-center">

            <div class="row">
                <div class="col-xs-9">
                    <select class="form-control" name="Player2.Character" id="player2Character" data-selector="#player2Character" data-side="2" data-opposite-id="#player1Character" data-default="" data-skin-picker-toggle-selector="button[id='player2CharacterSkinPickerToggle']">
                        <option value="" selected disabled hidden>Choose character</option>
                        @Html.Raw(characterOptionsStringBuilder.ToString())
                    </select>
                </div>
                <div class="col-xs-3 text-left">
                    <button class="btn btn-primary"
                            id="player2CharacterSkinPickerToggle"
                            type="button"
                            data-popover-active="false"
                            data-toggle="characterSkinPopover"
                            data-title="Player 2 Character skin"
                            data-template="<div class='popover characterSkinPopover player2CharacterSkinPicker' role='tooltip'><div class='arrow' style='left: 50%;'></div><h3 class='popover-title'></h3><div class='popover-content'></div></div>"
                            data-skin-picker-selector=".player2CharacterSkinPicker"
                            data-character-dropdown-selector="select[id='player2Character']"
                            data-skin-picker-toggle-selector="button[id='player2CharacterSkinPickerToggle']">
                        Pick skin
                    </button>
                </div>
            </div>
            
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 text-center">
            <label>Port</label>
            <select class="form-control" name="Player1.Port" id="player1Port" data-selector="#player1Port" data-side="1" data-opposite-id="#player2Port" data-default="">
                <option value="" selected disabled hidden>Choose port</option>
                @Html.Raw(portOptionsStringBuilder.ToString())
            </select>
        </div>
        <div class="col-xs-6 text-center">
            <label>Port</label>
            <select class="form-control" name="Player2.Port" id="player2Port" data-selector="#player2Port" data-side="2" data-opposite-id="#player1Port" data-default="">
                <option value="" selected disabled hidden>Choose port</option>
                @Html.Raw(portOptionsStringBuilder.ToString())
            </select>
        </div>
    </div>
</form>