<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Livestream Production Manager</title>

        <link id="bootstrap" href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet">
        <link id="highlight" href="@Url.Content("~/Content/highlight.css")" rel="stylesheet">
        <link href="@Url.Content("~/Content/site.css")" rel="stylesheet">
        <style>
            .changing
            {
                opacity: 0 !important;
                transition-duration: 1s;
                transition-property: opacity;
            }

            .bodyToDefault
            {
                background-color: #ffffff;
                transition-duration: 1s;
                transition-property: background-color;
            }

            .bodyToCustomDarkly {
                background-color: #000000;
                transition-duration: 1s;
                transition-property: background-color;
            }

            .changed
            {
                transition-duration: 1s;
                transition-property: opacity;
            }
        </style>

        @Scripts.Render("~/bundles/modernizr")
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Livestream Production Manager", "Index", "FightingGames", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Fighting games", "Index", "FightingGames")</li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Videos
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="cursorPointer" onclick="showVideoModal('How to use custom overlays', 'https://www.youtube.com/embed/r9wnR0RkazE')" data-target="#">How to use custom overlays</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Themes
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="active"><a class="cursorPointer" onclick="switchTheme(this, '@Url.Content("~/Content/bootstrap.css")', '@Url.Content("~/Content/highlight.css")', 'bodyToDefault')" data-target="#">Default</a></li>
                                <li><a class="cursorPointer" onclick="switchTheme(this, '@Url.Content("~/Content/bootstrap.dark.css")', '@Url.Content("~/Content/highlight.dark.css")', 'bodyToCustomDarkly')" data-target="#">Custom Darkly</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid body-content">
            @RenderBody()
            <hr />
            <footer>
                <div class="row">
                    <div class="col-md-4 text-left">
                        <text class="pull-left">Livestream Production Manager - Made by Gogoku7</text>
                    </div>
                    <div class="col-md-4 text-center">
                        <text class="text-center">Join the Livestream Production Manager Discord server <a href="https://discord.gg/y83D8Yp" target="_blank">here</a></text>
                    </div>
                    <div class="col-md-4 text-right">
                        <text class="pull-right">Version 0.4 - see <a href="@Url.Action("Version", "About")">version information</a></text>
                    </div>
                </div>
            </footer>
        </div>

        <div class="snackbar" id="manageCompetitorsSnackbar"></div>
        <div class="snackbar" id="manageCommentatorsSnackbar"></div>
        <div class="snackbar" id="managerConnectedSnackbar"></div>
        <div class="snackbar" id="managerFailedToConnectSnackbar"></div>
        <div class="snackbar" id="queuSnackbar"></div>
        <div class="snackbar" id="ajaxErrorSnackbar"></div>
        <div class="snackbar" id="exceptionSnackbar"></div>
        <div class="snackbar" id="overlayConnectedSnackbar"></div>
        <div class="snackbar" id="overlayDisconnectedSnackbar"></div>
        <div class="snackbar" id="forceResizeSnackbar"></div>


        @Html.Partial("_ReadMeModal")
        @Html.Partial("_VideoModal")

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/highlight")
        @Scripts.Render("~/bundles/bootstrap")

        @RenderSection("scripts", required: false)
    </body>
</html>


<script type="text/javascript">
    function showVideoModal(modalTitle, videoUrl) {
        $("#videoModalLabel").html(modalTitle);
        $("#videoModalBody").html("<iframe width='560' height='315' src='" + videoUrl + "' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>");
        $("#videoModal").modal("show");
    }

    function switchTheme(element, bootstrapFileUrl, highlightFileUrl, transitionClass) {
        if (!$(element).parent().hasClass("active")) {
            @if (System.Diagnostics.Debugger.IsAttached)
            {
                <text>
                    $("#highlight").attr("href", highlightFileUrl);
                    $("#bootstrap").attr("href", bootstrapFileUrl);
                    $(".dropdown-menu > li.active").removeClass("active");
                    $(element).parent().addClass("active");
                </text>
            }
            else
            {
                <text>
                
                    $("body").addClass(transitionClass);
                    $(".body-content").addClass("changing");
                    $(".navbar").addClass("changing");

                    setTimeout(function () {
                        $("#highlight").attr("href", highlightFileUrl);
                        $("#bootstrap").attr("href", bootstrapFileUrl);

                        $(".dropdown-menu > li.active").removeClass("active");
                        $(element).parent().addClass("active");

                        setTimeout(function () {
                            $("body").removeClass(transitionClass);
                            $(".body-content").removeClass("changing").addClass("changed");
                            $(".navbar").removeClass("changing").addClass("changed");
                            setTimeout(function () {
                                $(".body-content").removeClass("changed");
                                $(".navbar").removeClass("changed");
                            }, 1000);
                        }, 1000);
                    }, 1000);
                
                </text>
            }
        }
    }
</script>