@using System.Text;
@model LivestreamProductionManager.ViewModels.FightingGames.SuperSmashBros.SuperSmashBrosBaseViewModel

@{
    var characterOptionsStringBuilder = new StringBuilder();
    foreach (var character in Model.Characters)
    {
        characterOptionsStringBuilder.AppendLine($"<option value='{character.CssValue}'>{character.CharacterName}</option>");
    }

    var portOptionsStringBuilder = new StringBuilder();
    foreach (var port in Model.Ports)
    {
        portOptionsStringBuilder.AppendLine($"<option value='{port.CssValue}'>{port.PortName}</option>");
    }

    Layout = null;
}

<form action="/SuperSmashBros/UpdateDoubles" method="post" id="manageCompetitorsForm">
    <input type="hidden" name="Tournament" value="" data-id="#tournamentText" />
    <input type="hidden" name="Round" value="" data-id="#roundText" />
    <input type="hidden" name="BestOf" value="" data-id="#bestOfText" />
    <input type="hidden" name="Extra" value="" data-id="#extraText" />
    <input type="hidden" name="Series" value="@Model.Series" />
    <input type="hidden" name="Game" value="@Model.Game" />
    <input type="hidden" name="Format" value="@Model.Format" />
    <input type="hidden" name="PathToSeries" value="@Model.PathToSeries" />
    <input type="hidden" name="PathToGame" value="@Model.PathToGame" />
    <input type="hidden" name="PathToFormat" value="@Model.PathToFormat" />

    <div class="row">
        <div class="col-md-6 text-center">
            <label>Team 1</label>
        </div>
        <div class="col-md-6  text-center">
            <label>Team 2</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 text-center">
            <label>Name</label>
            <input type="text" class="form-control" name="Team1.Name" id="team1Name" data-id="#team1NameText" data-side="1" data-opposite-id="#team2Name" data-default="-" />
        </div>
        <div class="col-md-6 text-center">
            <label>Name</label>
            <input type="text" class="form-control" name="Team2.Name" id="team2Name" data-id="#team2NameText" data-side="2" data-opposite-id="#team1Name" data-default="-" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 text-center">
            <label>Score</label>
            <input type="text" class="form-control" name="Team1.Score" id="team1Score" data-id="#team1ScoreText" data-side="1" data-opposite-id="#team2Score" data-default="0" />
        </div>
        <div class="col-md-6 text-center">
            <label>Score</label>
            <input type="text" class="form-control" name="Team2.Score" id="team2Score" data-id="#team1ScoreText" data-side="2" data-opposite-id="#team1Score" data-default="0" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 text-center">
            <label>Player 1</label>
        </div>
        <div class="col-md-3 text-center">
            <label>Player 2</label>
        </div>
        <div class="col-md-3 text-center">
            <label>Player 1</label>
        </div>
        <div class="col-md-3 text-center">
            <label>Player 2</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center">
            <label>Name</label>
            <input type="text" class="form-control" name="Team1.Players[0].Name" id="team1Player1Name" data-id="#team1Player1NameText" data-side="1" data-opposite-id="#team2Player1Name" data-default="-" />
        </div>
        <div class="col-md-3 text-center">
            <label>Name</label>
            <input type="text" class="form-control" name="Team1.Players[1].Name" id="team1Player2Name" data-id="#team1Player2NameText" data-side="1" data-opposite-id="#team2Player2Name" data-default="-" />
        </div>
        <div class="col-md-3 text-center">
            <label>Name</label>
            <input type="text" class="form-control" name="Team2.Players[0].Name" id="team2Player1Name" data-id="#team2Player1NameText" data-side="2" data-opposite-id="#team1Player1Name" data-default="-" />
        </div>
        <div class="col-md-3 text-center">
            <label>Name</label>
            <input type="text" class="form-control" name="Team2.Players[1].Name" id="team2Player2Name" data-id="#team2Player2NameText" data-side="2" data-opposite-id="#team1Player2Name" data-default="-" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center">
            <label>Sponsor (acr)</label>
            <input type="text" class="form-control" name="Team1.Players[0].Sponsor" id="team1Player1Sponsor" data-id="#team1Player1NameText" data-side="1" data-opposite-id="#team2Player1Sponsor" data-default="" />
        </div>
        <div class="col-md-3 text-center">
            <label>Sponsor (acr)</label>
            <input type="text" class="form-control" name="Team1.Players[1].Sponsor" id="team1Player2Sponsor" data-id="#team1Player2NameText" data-side="1" data-opposite-id="#team2Player2Sponsor" data-default="" />
        </div>
        <div class="col-md-3 text-center">
            <label>Sponsor (acr)</label>
            <input type="text" class="form-control" name="Team2.Players[0].Sponsor" id="team2Player1Sponsor" data-id="#team2Player1NameText" data-side="2" data-opposite-id="#team1Player1Sponsor" data-default="" />
        </div>
        <div class="col-md-3 text-center">
            <label>Sponsor (acr)</label>
            <input type="text" class="form-control" name="Team2.Players[1].Sponsor" id="team2Player2Sponsor" data-id="#team2Player2NameText" data-side="2" data-opposite-id="#team1Player2Sponsor" data-default="" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center">
            <label>Character</label>
            <select class="form-control" name="Team1.Players[0].Character" id="team1Player1Character" data-id="#team1Player1Character" data-side="1" data-opposite-id="#team2Player1Character" data-default="" >
                <option value="" selected disabled hidden>Choose character</option>
                @Html.Raw(characterOptionsStringBuilder.ToString())
            </select>
        </div>
        <div class="col-md-3 text-center">
            <label>Character</label>
            <select class="form-control" name="Team1.Players[1].Character" id="team1Player2Character" data-id="#team1Player2Character" data-side="1" data-opposite-id="#team2Player2Character" data-default="" >
                <option value="" selected disabled hidden>Choose character</option>
                @Html.Raw(characterOptionsStringBuilder.ToString())
            </select>
        </div>
        <div class="col-md-3 text-center">
            <label>Character</label>
            <select class="form-control" name="Team2.Players[0].Character" id="team2Player1Character" data-id="#team2Player1Character" data-side="2" data-opposite-id="#team1Player1Character" data-default="" >
                <option value="" selected disabled hidden>Choose character</option>
                @Html.Raw(characterOptionsStringBuilder.ToString())
            </select>
        </div>
        <div class="col-md-3 text-center">
            <label>Character</label>
            <select class="form-control" name="Team2.Players[1].Character" id="team2Player2Character" data-id="#team2Player2Character" data-side="2" data-opposite-id="#team1Player2Character" data-default="" >
                <option value="" selected disabled hidden>Choose character</option>
                @Html.Raw(characterOptionsStringBuilder.ToString())
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center">
            <label>Port</label>
            <select class="form-control" name="Team1.Players[0].Port" id="team1Player1Port" data-id="#team1Player1Port" data-side="1" data-opposite-id="#team2Player1Port" data-default="" >
                <option value="" selected disabled hidden>Choose port</option>
                @Html.Raw(portOptionsStringBuilder.ToString())
            </select>
        </div>
        <div class="col-md-3 text-center">
            <label>Port</label>
            <select class="form-control" name="Team1.Players[1].Port" id="team1Player2Port" data-id="#team1Player2Port" data-side="1" data-opposite-id="#team2Player2Port" data-default="" >
                <option value="" selected disabled hidden>Choose port</option>
                @Html.Raw(portOptionsStringBuilder.ToString())
            </select>
        </div>
        <div class="col-md-3 text-center">
            <label>Port</label>
            <select class="form-control" name="Team2.Players[0].Port" id="team2Player1Port" data-id="#team2Player1Port" data-side="2" data-opposite-id="#team1Player1Port" data-default="" >
                <option value="" selected disabled hidden>Choose port</option>
                @Html.Raw(portOptionsStringBuilder.ToString())
            </select>
        </div>
        <div class="col-md-3 text-center">
            <label>Port</label>
            <select class="form-control" name="Team2.Players[1].Port" id="team2Player2Port" data-id="#team2Player2Port" data-side="2" data-opposite-id="#team1Player2Port" data-default="" >
                <option value="" selected disabled hidden>Choose port</option>
                @Html.Raw(portOptionsStringBuilder.ToString())
            </select>
        </div>
    </div>
</form>