@using System.Text;
@model LivestreamProductionManager.ViewModels.FightingGames.SuperSmashBros.SuperSmashBrosBaseViewModel

@{
    var characterOptionsStringBuilder = new StringBuilder();
    foreach (var character in Model.Characters)
    {
        characterOptionsStringBuilder.AppendLine($"<option value='{character.CssValue}'>{character.CharacterName}</option>");
    }

    var portOptionsStringBuilder = new StringBuilder();
    foreach (var port in Model.Ports)
    {
        portOptionsStringBuilder.AppendLine($"<option value='{port.CssValue}'>{port.PortName}</option>");
    }

    Layout = null;
}

<form action="/SuperSmashBros/UpdateSingles" method="post" id="manageCompetitorsForm">
    <input type="hidden" name="Tournament" value="" data-id="#tournamentText" />
    <input type="hidden" name="Round" value="" data-id="#roundText" />
    <input type="hidden" name="BestOf" value="" data-id="#bestOfText" />
    <input type="hidden" name="Extra" value="" data-id="#extraText" />
    <input type="hidden" name="Series" value="@Model.Series" />
    <input type="hidden" name="Game" value="@Model.Game" />
    <input type="hidden" name="Format" value="@Model.Format" />
    <input type="hidden" name="PathToSeries" value="@Model.PathToSeries" />
    <input type="hidden" name="PathToGame" value="@Model.PathToGame" />
    <input type="hidden" name="PathToFormat" value="@Model.PathToFormat" />

    <div class="row">
        <div class="col-md-6 text-center">
            <label>Player 1</label>
        </div>
        <div class="col-md-6  text-center">
            <label>Player 2</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <label>Name</label>
            <input type="text" class="form-control" name="Player1.Name" id="player1Name" data-id="#player1NameText" data-side="1" data-opposite-id="#player2Name" />
        </div>
        <div class="col-md-6 text-center">
            <label>Name</label>
            <input type="text" class="form-control" name="Player2.Name" id="player2Name" data-id="#player2NameText" data-side="2" data-opposite-id="#player1Name" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <label>Sponsor (acr)</label>
            <input type="text" class="form-control" name="Player1.Sponsor" id="player1Sponsor" data-id="#player1NameText" data-side="1" data-opposite-id="#player2Sponsor" />
        </div>
        <div class="col-md-6 text-center">
            <label>Sponsor (acr)</label>
            <input type="text" class="form-control" name="Player2.Sponsor" id="player2Sponsor" data-id="#player2NameText" data-side="2" data-opposite-id="#player1Sponsor"  />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <label>Twitter</label>
            <input type="text" class="form-control" name="Player1.Twitter" id="player1Twitter" data-id="#player1TwitterText" data-side="1" data-opposite-id="#player2Twitter" />
        </div>
        <div class="col-md-6 text-center">
            <label>Twitter</label>
            <input type="text" class="form-control" name="Player2.Twitter" id="player2Twitter" data-id="#player2TwitterText" data-side="2" data-opposite-id="#player1Twitter" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <label>Score</label>
            <input type="text" class="form-control" name="Player1.Score" id="player1Score" data-id="#player1ScoreText" data-side="1" data-opposite-id="#player2Score" />
        </div>
        <div class="col-md-6 text-center">
            <label>Score</label>
            <input type="text" class="form-control" name="Player2.Score" id="player2Score" data-id="#player2ScoreText" data-side="2" data-opposite-id="#player1Score" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <label>Character</label>
            <select class="form-control" name="Player1.Character" id="player1Character" data-id="#player1Character" data-side="1" data-opposite-id="#player2Character" >
                <option value="" selected disabled hidden>Choose character</option>
                @Html.Raw(characterOptionsStringBuilder.ToString())
            </select>
        </div>
        <div class="col-md-6 text-center">
            <label>Character</label>
            <select class="form-control" name="Player2.Character" id="player2Character" data-id="#player2Character" data-side="2" data-opposite-id="#player1Character" >
                <option value="" selected disabled hidden>Choose character</option>
                @Html.Raw(characterOptionsStringBuilder.ToString())
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <label>Port</label>
            <select class="form-control" name="Player1.Port" id="player1Port" data-id="#player1Port" data-side="1" data-opposite-id="#player2Port" >
                <option value="" selected disabled hidden>Choose port</option>
                @Html.Raw(portOptionsStringBuilder.ToString())
            </select>
        </div>
        <div class="col-md-6 text-center">
            <label>Port</label>
            <select class="form-control" name="Player2.Port" id="player2Port" data-id="#player2Port" data-side="2" data-opposite-id="#player1Port" >
                <option value="" selected disabled hidden>Choose port</option>
                @Html.Raw(portOptionsStringBuilder.ToString())
            </select>
        </div>
    </div>
</form>